@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: lavender;
}

h1 {
    background: rebeccapurple;
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 24px;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 19px;
    color: darkslategray;
    font-weight:normal;
}

a{
    display: block;
    margin-bottom: 5%;
}

a:link {
    color: darkslategray;
    text-decoration: underline;
    font-family: "Times New Roman", serif;
    font-size: 19px;
}

a:active {
    color: darkslategray;
    text-decoration: underline;
    font-family: Verdana, serif;
    font-size: 12pt;
    font-weight: bold;
}

p,
li{
    font-family: 'Montserrat', sans-serif;
}

p {
    color: darkslategray;
    font-size: 19px;
}

ul{
    font-size: 19px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.column img{
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

*{
    box-sizing: border-box;
}

.italic{
    font-style: italic;
}

.uitleg a{
    margin-bottom: 0%;
}
